@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font-Family */
  --hanken-grotesk:  'Hanken Grotesk', sans-serif;

  /* ### Primary */

  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --light-red-back: hsla(0,100%,67%,0.2);
  --orangey-back: hsla(39,100%,56%,0.2);
  --green-back: hsla(166,100%,37%,0.2);
  --cobalt-back: hsla(234,85%,45%,0.2);

  /* ## Gradients */

  --Light-slate-blue: hsl(252, 100%, 67%); /* (background) */
  --Light-royal-blue: hsl(241, 81%, 54%); /* (background) */

  --Violet-blue: hsla(256, 72%, 46%, 1); /* (circle) */
  --Persian-blue: hsla(241, 72%, 46%, 0); /* (circle) */

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  /* ### Notes

Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

*/
}

body {
  font-size: 18px;
  font-family: var(--hanken-grotesk);


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--Dark-gray-blue)
}

/* Configurações globais */

.card {
  background-color: var(--White);
}

.card-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

.card-result h1 {
  font-size: 1rem;
  margin: 20px 0;
}

.card-result h1,
.card-result p {
  color: var(--Light-lavender);
}

.card-result h3 {
  color: var(--White);
  margin: 20px 0 10px 0;
}

.card-result--description {
  width: 284px;
  align-items: center;
  margin-bottom: 20px;
}

.card-score {
  text-align: center;
  padding: 25px;
  border-radius: 50%;
  background-color: var(--Green-teal);
}

.card-score p {
  color: var(--White);
  font-size: 2.5rem;
  font-weight: 800;

}

.card-score p:last-child {
  color: var(--Light-lavender);
  font-size: 1rem;
}

.card-summary {
  color: var(--Dark-gray-blue);
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.card-summary h2 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.card-summary ul {
  list-style: none;
}

.card-summary img {
  margin-right: 10px;
}

.card-summary li {
  padding: 10px;
  margin-bottom: 15px;
}

.card-summary span {
  float: right;
  color: var(--Dark-gray-blue);
  font-weight: 900;
}

.card-summary--reaction {
  color: var(--Light-red);
  background-color: var(--light-red-back);
}

.card-summary--memory {
  color: var(--Orangey-yellow);
  background-color: var(--orangey-back);
}

.card-summary--verbal {
  color: var(--Green-teal);
  background-color: var(--green-back);
}

.card-summary--visual {
  color: var(--Cobalt-blue);
  background-color: var(--cobalt-back);
}

.btn {
  color: var(--White);
  background-color: var(--Dark-gray-blue);

  width: 300px;
  padding: 15px;
  border-radius: 30px;
  border: none;
}

@media screen and (max-width: 375px) {
  .card {
    width: 360px;
  }

  .card-result {
    border-radius: 0 0 30px 30px;
  }
  
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
